.first-color {
  background: #f6f6f6;
}

.second-color {
  background: #d6e4f0;
}

.third-color {
  background: #1e56a0;
}

.fourth-color {
  background: #163172;
}

body {
  background-color: #d6e4f0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 30px 0;
}

header {
  border-bottom: 1px solid #d6e4f0;
  padding-bottom: 30px;
}

footer {
  border-top: 1px solid #d6e4f0;
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0, 0.6);
}

a {
  color: #1e56a0;
}
.weather-app {
  background: #f6f6f6;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(85, 70, 150, 0.08);
  border-radius: 16px;
}

.search-form-input {
  width: 80%;
  border: none;
  border-radius: 6px;
  background-color: #d6e4f0;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #163172;
  border: none;
  padding: 15px 30px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-left-box {
  padding-left: 10px;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-numbers {
  color: #cc275e;
  font-weight: bold;
}

.temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weather-forecast-day {
  display: block;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  color: #000;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.weather-forecast-date {
  opacity: 0.5;
}

.weather-forecast-temperature-maximum,
.weather-forecast-temperature-minimum {
  color: #cc275e;
  padding: 0 10px;
  text-align: center;
}

.weather-forecast-temperature-maximum {
  font-weight: bold;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
